:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(41, 44, 59);
}

.login-button {
  width: 100%;
  background-color: darkgreen !important;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(41, 44, 59);
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(41, 44, 59);
}

.register-card {
  background-color: black !important;
  min-width: 400px;
  padding: 2rem;
} 

.register-link{
  display: inline-block;
  color: rgb(0, 145, 255);
  text-decoration: underline;
  cursor: pointer;
}

.register-button {
  background-color: green !important;
  width: 100%;
}

.back-link {
  color: rgb(202, 200, 200) !important;
}

.dashboard-container {
  justify-content: center;
  align-items: center;
  min-width: 400px;
  background-color: rgb(13, 9, 43) !important;
}


.dashboard-container .ant-table-thead > tr > th,
.dashboard-container table {
  background-color: rgb(13, 9, 43) !important;
}

.dashboard-container .ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: rgb(24, 18, 66) !important;
}

.profile-card {
  background-color: rgb(13, 9, 43) !important;
  min-width: 400px;
  min-height: 400px;
  padding: 2rem;
}

.profile-card .ant-card-head,
.profile-card .ant-card-body {
  background-color: rgb(13, 9, 43) !important;
  color: #fff !important;
}

.profile-card p {
  margin-bottom: 1.2rem;
  background-color: transparent !important;
}

.profile-card strong,
.profile-card span {
  background-color: transparent !important;
} 

.logout-button {
  background-color: rgb(197, 26, 26) !important;
  filter: brightness(90%) !important;
} 
